# Remove Discord Game SDK for copyright reasons
/Source/ThirdParty/discord-files/*
/Source/DiscordUE4/discord-files/*

# Ignore saved build artifacts
/Saved/*

# Ignore Crypto.json because the mod doesn't use pak file encryption
/Modding/*

# Exclude Binaries
/Intermediate/*
/Binaries/*