# Remove Discord Social SDK for copyright reasons
/Source/ThirdParty/*
/Source/DiscordPartnerSDK/*

# Ignore saved build artifacts
/Saved/*

# Ignore Crypto.json because the mod doesn't use pak file encryption
/Modding/*

# Exclude Binaries
/Intermediate/*
/Binaries/*